DEV_API_KEY=ws_dev_YOUR_API_KEY
TEST_API_KEY=ws_test_YOUR_API_KEY
GEMINI_MODEL=gemini-2.5-flash
GEMINI_MODEL_IMAGE=gemini-2.5-flash-image-preview
GOOGLE_API_KEY=YOUR_GEMINI_API_KEY
# AWS S3 Configuration (Optional)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
